.project-tile {
  .tile {
    background-color: $white;
    margin: 15px auto;
    padding: 15px;
    width: 100%;
  }

  h3 {
    color: $tile-header-copy;
    border-bottom: 3px solid $background-color;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0 0 10px 25px;
    position: relative;
    text-transform: uppercase;
    width: 100%;

    &:before {
      bottom: -4px;
      color: $tile-header-copy;
      display: inline-block;
      height: 100%;
      left: 0;
      margin-left: -4px;
      position: absolute;
      width: auto;
    }
  }

  // Variables in the .description block
  $description_font_size: 16px;
  $description_lin_height: 1.4;
  $description_line_clamp: 3;

  .description {
    display: block;
    display: -webkit-box;
    font-size: $description_font_size;
    height: $description_font_size * $description_lin_height * $description_line_clamp;
    line-height: $description_lin_height;
    margin: 0 auto 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $description_line_clamp;
    -webkit-box-orient: vertical;
  }

  .date {
    font-size: 12px;
  }
}
