.version-details {
  .detail {
    background-color: $white;
    margin: 15px auto;
    padding: 15px;
    width: 100%;
  }

  h4 {
    color: $version-header-copy;
    border-bottom: 3px solid $background-color;
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0 0 10px;
    width: 100%
  }

  p {
    em {
      text-align: center;
      width: 100%
    }
  }
}
