$header-font: 'Work Sans', 'sans-serif';
$body-font: 'Work Sans', 'sans-serif';

$background-color: $light-green;

$header-background: $dark-grey;
$header-copy: $white;
$header-hover: $light-grey;

$link-button-background: $dark-grey;
$link-button-copy: $light-grey;

$tile-header-copy: $orange;

$version-header-copy: $dark-grey;
